<nav>
    <div class="screen">
    <ul class="bottom-nav">
        <li class="home"><a href="<%= root_path %>"><i class="fa fa-home"></i> <p>Home</p></a></li>
        <li class="search"><a href="<%= sections_path %>"><i class="fa fa-search"></i> <p>Gyms</p></a></li>
        <li class="account"><a href="<%= welcome_myeu_path %>"><i class="fa fa-user"></i> <p>My EU</p></a></li>
    </ul>
    </div>
</nav>